* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    user-select: text;
}

::selection {
    color: #a159ff;
    background: #2B2B2B;
}

h5 {
    font-family: "Space Mono";
}

body {
    font-family: "Work Sans";
    overflow-x: hidden;
    color: #fff;
}

.container-header {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 15px;
}

.navigatiya {
    background: #2B2B2B;
    padding: 20px 0;
}

.header-many {
    max-width: 1040px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-many img {
    max-width: 243px;
}

.nav-left {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.menu {
    display: flex;
    column-gap: 30px;
    align-items: center;
    margin-left: -100px;
}

.menu a {
    max-width: 134px;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
}

.menu li {
    max-width: 134px;
    color: #fff;
}

.menu a li:hover {
    text-decoration: underline;
    color: #A259FF;
    transition: 0.3s;
}

.nav-btn {
    width: 152px;
    height: 60px;
    padding: 19px 30px;
    border-radius: 20px;
    background: #A259FF;
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    border: none;
    transition: 0.5s;
    margin-left: 30px;
    color: #fff;
}

.nav-btn:hover {
    background-color: #a159ff97;
    transform: rotate(-360deg);
    cursor: pointer;
    z-index: 100;
}

.nav-btn:active {
    transition: 0.3s;
    transform: scale(0.8);
}

.nav-menu {
    display: none;
}

.browse {
    background-color: #2B2B2B;
    padding: 80px 0;
}

footer {
    background-color: #3B3B3B;
    padding: 40px 0;
}

.footer-main {
    margin: 0 auto;
    max-width: 1050px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    max-width: 327.41px;
    display: flex;
    flex-direction: column;
}

.footer-logo h6 {
    max-width: 238px;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #CCC;
    margin-top: 30px;
}

.footer-logo p {
    max-width: 238px;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #CCC;
    margin-top: 20px;
    margin-bottom: 15px;
}

.footer-app {
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: 0.3s;
}

.footer-app img:hover {
    transform: scale(1.2);
}

.footer-menu {
    display: flex;
    flex-direction: column;
}

.footer-menu h5 {
    max-width: 95px;
    font-family: "Space Mono";
    font-size: 22px;
    font-weight: 700;
    line-height: 35.2px;
    color: #fff;
}

.footer-ul {
    max-width: 133px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 25px;
}

.footer-ul a li {
    max-width: 133px;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #CCC;
    transition: 0.3s;
}

.footer-ul a li:hover {
    color: #A259FF;
    text-decoration: underline;
}

.footer-btn {
    max-width: 420px;
    display: flex;
    flex-direction: column;
}

.footer-btn h5 {
    font-family: "Space Mono";
    font-size: 22px;
    font-weight: 700;
    line-height: 35.2px;
    color: #fff;
}

.footer-btn p {
    max-width: 330px;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #CCC;
    margin-top: 25px;
    margin-bottom: 20px;
}

.footer-bottom {
    max-width: 1050px;
    border-top: 1px solid #858584;
    padding: 20px 0 0 0;
}

.footer-bottom p {
    max-width: 1050px;
    font-family: "Work Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 13.2px;
    color: #CCC;
}

.weekly-form1 {
    max-width: 425px;
    display: flex;
    align-items: center;
}

.weekly-input1 {
    max-width: 214px;
    padding: 19px 18px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 18px;
    font-weight: 550;
    color: #A259FF;
}

.weekly-input1::placeholder {
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #2B2B2B;
    outline: none;
}

.weekly-input1:focus {
    outline: 2px solid #A259FF;
}

.weekly-btn1 {
    max-width: 211px;
    padding: 19px 50px;
    background: #A259FF;
    border-radius: 20px;
    font-family: Work Sans;
    display: flex;
    align-items: center;
    column-gap: 12px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    color: #fff;
    margin-left: -25px;
    transition: 0.3s;
}

.weekly-btn,
.weekly-btn1:hover {
    cursor: pointer;
}

.weekly-btn1:active {
    transform: scale(0.90);
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #2B2B2B;
}

 ::-webkit-scrollbar-thumb {
    background: #A259FF;
    border-radius: 50px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #3B3B3B;
}

@media screen and (max-width: 1070px) {
    .menu {
        flex-direction: column;
        position: fixed;
        background-color: #A259FF;
        opacity: 87%;
        width: 100%;
        margin: 0 auto;
        left: 70px;
        top: 66px;
        transform: translateX(100%);
        justify-content: center;
        row-gap: 30px;
        height: 50vh;
        transition: 0.5s;
        padding-left: 80px;
    }
    .nav-menu {
        display: block;
    }
    .header-many img {
        max-width: 182px;
    }
    .nav-btn:hover {
        background-color: #2B2B2B;
    }
    .nav-btn {
        background-color: #3B3B3B;
        margin-left: -15px;
    }
    .menu a li:hover {
        color: #3B3B3B;
    }
    .footer-main {
        max-width: 690px;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }
    .footer-top {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
    .footer-logo {
        max-width: 690px;
    }
    .footer-logo img {
        max-width: 243px;
    }
    .footer-logo h6 {
        max-width: 690px;
    }
    .footer-logo p {
        max-width: 690px;
    }
    .footer-ul {
        max-width: 690px;
    }
    .footer-btn {
        max-width: 690px;
    }
    .footer-btn p {
        max-width: 690px;
    }
    .footer-bottom {
        max-width: 690px;
    }
    .weekly-form1 {
        max-width: 425px;
        display: flex;
        align-items: center;
    }
    .weekly-input1 {
        max-width: 300px;
    }
    .weekly-btn1 {
        max-width: 300px;
    }
}

@media screen and (max-width:750px) {
    .menu {
        padding-left: 0px;
    }
    .footer-main {
        max-width: 315px;
    }
    .weekly-form1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
    }
    .weekly-input1 {
        max-width: 300px;
        padding: 12px 30px;
        border-radius: 20px;
    }
    .weekly-btn1 {
        max-width: 300px;
        padding: 12px 94.5px;
        margin-left: 0;
    }
}

.menubar {
    display: none;
}

.menubar:checked~.menu {
    transform: translate(0);
    z-index: 1000;
}